<?
var modelVariable = modelName.toLowerCase();
var basePath = modelName.toLowerCase();
var basePathPlural = controllerName.toLowerCase();
var addScripts = {};
?>
<div class="col-lg-6 col-md-6">
    <!-- <?= modelVariable ?> fields list -->
    <? fields.forEach(function (field) { ?>
    <!-- field <?= modelVariable ?>.<?= field.param_val ?> -->
    <? switch(field.param_type) { 
           case 'boolean':
           case 'bool': ?>
    <div class="form-group">
        <%- form.label('<?= field.param_val ?>', '<?= field.param_name ?>', { class : 'col-lg-3 col-md-3 control-label' }, <?= modelVariable ?> ) %>
        <div class="col-lg-9 col-md-9">
            <div class="btn-group btn-group-justified" data-toggle="buttons" role="group">
                <label class="btn btn-radio btn-yes <%- <?= modelVariable ?>.<?= field.param_val ?> == 1 ? 'active':'' %>">
                    <%- form.radio('<?= field.param_val ?>',{ autocomplete: 'off', value : <?= modelVariable ?>.<?= field.param_val ?> }, <?= modelVariable ?>, 1, '_0' ) %>
                    Enabled
                </label>
                <label class="btn btn-radio btn-no <%- <?= modelVariable ?>.<?= field.param_val ?> == 0 ? 'active':'' %>">
                    <%- form.radio('<?= field.param_val ?>',{ autocomplete: 'off', value : <?= modelVariable ?>.<?= field.param_val ?> }, <?= modelVariable ?>, 0, '_1' ) %>
                    Disabled
                </label>
            </div>
        </div>
    </div>
    <?      break;
      case 'text': ?>
    <div class="form-group">
        <%- form.label('<?= field.param_val ?>', '<?= field.param_name ?>', { class : 'col-lg-3 col-md-3 control-label' }, <?= modelVariable ?> ) %>
        <div class="col-lg-9 col-md-9">
            <%- form.textarea('<?= field.param_val ?>',{ rows : 5, class : 'form-control', value : <?= modelVariable ?>.<?= field.param_val ?> }, <?= modelVariable ?> ) %>
        </div>
    </div>  
    <?       break; 
       case 'date': ?>
    <div class="form-group">
        <%- form.label('<?= field.param_val ?>', '<?= field.param_name ?>', { class : 'col-lg-3 col-md-3 control-label' }, <?= modelVariable ?> ) %>
        <div class="col-lg-9 col-md-9">
            <%- form.input('<?= field.param_val ?>',{ class : 'form-control', type : 'text', value : <?= modelVariable ?>.<?= field.param_val ?> }, <?= modelVariable ?> ) %>
        </div>
    </div>
    <?   break; 
       default: ?>
    <div class="form-group">
        <%- form.label('<?= field.param_val ?>', '<?= field.param_name ?>', { class : 'col-lg-3 col-md-3 control-label' }, <?= modelVariable ?> ) %>
        <div class="col-lg-9 col-md-9">
            <%- form.input('<?= field.param_val ?>',{ class : 'form-control', type : 'text', value : <?= modelVariable ?>.<?= field.param_val ?> }, <?= modelVariable ?> ) %>
        </div>
    </div>    
    <? } }) ?>
    <input type="hidden" name="_csrf" value="<%- request.csrfToken() %>" />
</div>
<div class="col-lg-6 col-md-6">

</div>
<div class="clearfix"></div>