<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="TrinteJS! - Javascript MVC Framework">
        <meta name="author" content="<?= author ?>">
        <meta name="description" content="<?= description ?>">
        <meta name="keywords" content="<?= pack ?>, trinte, trintejs, camintejs">
        <title><?= pack ?></title>
        <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link type="text/css" href="/css/addons.min.css" rel="stylesheet"/>
        <link type="text/css" href="/css/style.css" rel="stylesheet"/>
        <script type="text/javascript" charset="utf-8" src="/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <meta name="x-csrf-param" content="_csrf">
        <meta name="x-csrf-token" content="<%- request.csrfToken() %>">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
        <script src="/vendor/respond/dest/respond.min.js"></script>
        <![endif]-->
        <!-- <link rel="canonical" href=""> -->
        <%- siteHeaders(headers) %>
    </head>
    <body>
        <!-- header -->
        <%- partial('./_header') %>
        <!-- messages -->
        <%- partial('./_messages') %>
        <!-- content -->
        <%- body %>
        <!-- footer -->
        <%- partial('./_footer') %>
        <!-- confirm modal dialog -->
        <div id="dialog-confirm" class="modal fade" title="" tabindex="-1" role="dialog" aria-labelledby="dialog-confirm-header" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="dialog-confirm-header"></h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-danger btn-confirm-ok">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal templates -->
        <div id="modal-templates" style="visibility: hidden;">
            <div class="modal-delete">
                <div class="header-text">Delete %s?</div>
                <div class="body-text">
                    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">
                        <i class="icon-warning-sign icon-3x"></i>
                    </span>Delete %s id %d!<br> This will be permanently deleted and cannot be recovered. Are you sure?
                </div>
                <div class="btn-text">Delete %s</div>
            </div>
            <div class="modal-save">
                <div class="header-text">Save %s?</div>
                <div class="body-text"></div>
                <div class="btn-text">Save Changes</div>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8" src="/js/app.min.js"></script>
    </body>
</html>